*.pyc
*.gdbm3
history
run
.ipynb_checkpoints
*.o
*~
.DS_Store
POTCAR
*OUTCAR*
*CONTCAR*
*CHGCAR*
*vasprun*
dist*
siman.egg-info/
tutorials/*
docs/*
test/*
server_tools/*
project_template/*
build/
*.in
*rst
*.md