*.pyc
*.gdbm3
history
run
xyz/
.ipynb_checkpoints
*.o
*~
.DS_Store
POTCAR
*OUTCAR*
*CONTCAR*
*CHGCAR*
*vasprun*
dist/
siman.egg-info/
tutorials/
doc/
server_tools/
project_template/
build/
*.in
*rst
*.md